.row {
    border-bottom: none;
    background-color: rgb(248, 249, 250);
    color:
        rgb(47, 55, 70);
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform: uppercase;


}

.button {}

.table {

    background-color: red;
    /* Replace with the desired text color */

}

.custom-thead th {
    background-color: #007bff;
    /* Replace with your desired color */
    color: #fff;
    /* Replace with the desired text color */
}

.tableContainer {
    background-color: rgb(248, 249, 250) !important;
}