.App {
    font-family: Arial, sans-serif;
    text-align: center;
}

.accordion-entry {
    border: 1px solid #FFF;
    margin: 10px;
}

.accordion-header {
    background-color: #ffff;
    padding: 10px;
    cursor: pointer;
}

.accordion-header.expanded {
    background-color: #FFF;
}

.accordion-content {
    padding: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}